html, body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    font: 0.86em/120% Tahoma, Arial, sans-serif;
    color:#333;
    background:transparent;
}

html {
    background:#eee;
}

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; text-decoration:none;}
a:hover { color: #036; }

h1, h2, h3 {
  font-size: medium;
  font-weight: normal;
  margin:0;
  padding:.5em;
}

p {  padding-left:1.5em;}

h1 {
    font-size:xx-large;
}

.block {
    margin:0 auto;
    margin-top:1em;
    margin-bottom:1em;
    padding:.5em;
    max-width:70em;

    background:#fff;
    -webkit-box-shadow: 0px 2px 5px #aaa;
    -moz-box-shadow: 0px 2px 5px #aaa;
    box-shadow: 0px 2px 5px #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #ccc;
}

#title {
  background:#369;
  color:#eee;
  margin:0;
  padding:.5em;
  border-bottom:1px solid black;
  -webkit-box-shadow: 0px 5px 5px #aaa;
  -moz-box-shadow: 0px 5px 5px #aaa;
  box-shadow: 0px 5px 5px #aaa;
}

#browsers {
    width:90%;
    margin:0 auto;
}

.logo {
    height:8em;
    width:8em;
}

input:invalid, textarea:invalid {
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red;
 -webkit-box-shadow: 0px 0px 5px red;
         box-shadow: 0px 0px 5px red;
}

input, textarea {
                    width:15em;
                    margin-top: 1em;
                    margin-bottom: 1em;
                    background-color: white;
                    color: #666;
                    border: 1px solid #C4C4C4;
                    border-right: 1px solid #E9E9E9;
                    border-bottom: 1px solid #E9E9E9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#mybutton {
    background-color: #333;
    color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

textarea {
                    width:40em;
                    height:5em;
                    max-width:90%;
                   }
