name: Documentation

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: JSDoc

    runs-on: ubuntu-latest
    permissions: {}

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v6
    - run: npm ci --ignore-scripts
    - run: npm run docs
